<<<<<<< HEAD
main {
    height: auto;
}

iframe {
    width: 640px;
    height: 69em;
    margin: 40px 0;
=======
main {
    height: auto;
}

iframe {
    width: 640px;
    height: 69em;
    margin: 40px 0;
>>>>>>> 7ec5bcff91532a465e21b5e55263c0bdd170fc82
}